encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1n44qau42am0esnk2hgekjj7gduf035rz5rgh2qemjmsh7hxwr4tq3ju507"

[data]
    name = "Duong Nguyen"
    email = "dnx04@proton.me"
